*{
    padding: 0;
    margin: 0;
}

body{
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* @font-face {
    font-family: Norse;
    src: local("/fonts/Norse-Bold.otf");
  } */
  

/* Whole dam form styling */
.container{
    /* padding: 5px; */
    margin: 5px;
    display: flex;
    border: 5px double black;/* Remove or edit this later */
}
/* ***************************** */

/* Background section styling */
.background, .image-backdrop{
    /* padding: 0px; */
    border: 2px solid black;
    color: #fff;
}

.background{
    background-image: url();
    background: teal;
    width: 30%;
}

.image-backdrop{
    width: 100%;
    display: flex;
    background-color: rgba(0,0,0,0.88);
    position: relative;
    top: 20px;
}
/* *************************** */

/* Form section styling */
.form{
    border: 2px solid black;
    background-color: whitesmoke;
    /* padding: 1rem; */
}

.info, .form-inputs, .log-in{
    padding: 20px;
    /* margin: 5px; */
}
/* ************************************* */

/* Info section */
.info{
    width: 40%;
    font-weight: bold;
    margin: 1rem;
}

#hook{
    position: relative;
    top: 20px;
}
/* ************************* */

/* Form styling */
.form-inputs{
    padding: 2rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px black;
}

#form-header{
    position: relative;
    top: -1rem;
}

input, label{
    display: block;
}

.inner{
    float: left;
    margin-right: 20px;

    position: relative;
    left: -10rem;
}

.fields{
    border: none;
    padding: 5px;

    display: flex;
    justify-content: space-evenly;
}
/* ******************* **********/

/*Log in styling*/
.log-in{/*Container*/
    padding: 2rem;
    height: 150px;
}

#create-account{
    padding: 5px;
    width: 15rem;
    

    background-color: #596D48;
    border: 5px double #fff;
    border-radius: 5px;

    color: white;
    font-size: medium;
    font-weight: bold;
}

#log-in p{
    margin: 1rem;
}

#log-in a{/*log in link*/
    color: #596D48;
    text-decoration: none;
}
/*********************************/




